<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SW{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
  <nav>
    <div><strong>SW</strong></div>
    <div>
      <a href="/">Home</a>
      {% if is_admin %}
        <a href="{{ url_for('admin.admin_user_list') }}">User list</a>
      {% endif %}
      <a href="{{ url_for('admin.admin_logs') }}">log</a>
      <a href="{{ url_for('admin.blocked_ip_list') }}">Blocked IPs</a>
      {% if session.get('username') %}
        <a href="/logout">Logout ({{ session.get('username') }})</a>
      {% else %}
        <a href="/login">Login</a>
      {% endif %}
    </div>
  </nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-message-container">
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">
          {{ message }}
          <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
      {% endfor %}
    </div>
    <script>
      // 3초 뒤 부드럽게 사라지기
      setTimeout(() => {
        const container = document.getElementById('flash-message-container');
        if (container) {
          container.style.transition = 'opacity 0.5s ease-out';
          container.style.opacity = '0';
          setTimeout(() => container.remove(), 500);  // 완전히 사라지면 DOM에서 제거
        }
      }, 3000);
    </script>
  {% endif %}
{% endwith %}


  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
