{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="input-container">
    <div class="input-box">
      <h2>Login</h2>
      <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
      </form>

      <p style="margin-top: 1rem; font-size: 0.9rem;">
        계정이 없으신가요? 
        <a href="/register" style="color: #4CAF50; text-decoration: underline;">회원가입</a>
      </p>
    </div>
  </div>
{% endblock %}
